*.log
.DS_Store
node_modules
dist

rabbitmq

node_modules
package-lock.json

.yalc
yalc.lock

coverage/
*.db

.vercel
.expo

.env.local

.turbo
**/*.eslintcache

.json-autotranslate-cache

*__pycache__
*.venv

#ignore __pycache__ and .venv in all subdirectories
**/__pycache__
**/.venv
